body {
    font-family: 'Myriad Pro';
    background-color: #f4f4f4;
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el padding por defecto del body */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; Asegura que el body ocupe al menos toda la altura de la ventana */
}

.crearCarpeta {
    background-color: #ffffff5b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 500px;
}

.div-invisible{
  height: 75vh;
  display: grid;
  place-items: center;
}
.prueba{
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.inputplaceholder::placeholder{
    color: white;
}
.carpeta input {
    
    /* width: 320px; */
    padding: 10px;
    background-color: #032840;
    border: none;
    border-radius: 4px;
    z-index: 10;
    display: grid;
}

.cargo {
    width: 70%;
    padding: 10px;
    background-color: #032840;
    box-shadow: none;
    border-radius: 4px;
    color: #f4f4f4;
}


.cargo select {
    width: 100%;
    border: none;
    color: white;
    background-color: #032840;

}
/* From Uiverse.io by Madflows */ 
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 10px;
    background: #032840;
    background-size: 400%;
    color: #fff;
    width: 150px;
    border: none;
    cursor: pointer;
    
  }
.divbotoncarpetas{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(51, 51, 51, 1) 10.8%,
      rgba(15, 59, 83, 1) 94.3%
    );
    transition: all 0.475s;
  }
  
.inputplaceholder{
  width: 300px;
  color: white;
}
#cargosselect{
  width: 300px;
}


.divcontenedor{
  
}