.input::placeholder{
  color: white;

}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 25vh;

  }
  
  .form_wrapper {
    padding: 30px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.493);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form_details {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #032840;
  }
  
  .btn {
    width: 50%;
    padding: 10px;
    background: #032840;;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px auto;
  }
  /* Adaptabilidad para móviles */
  @media (max-width: 480px) {
    .form_wrapper {
      padding: 20px;
    }
    .form_details {
      font-size: 1.3rem;
    }
    .btn {
      font-size: 1rem;
    }
  }