.input::placeholder{
  color: white;

}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 25vh;

  }
  
  .form_wrapper {
    padding: 30px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.493);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form_details {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: #032840;
  }
  
  /* .botoniniciarsesion {
    width: 50%;
    padding: 10px;
    background: #032840;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 20px ;
  } */

  .botoniniciarsesion {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 10px;
    background: #032840;
    background-size: 400%;
    color: #fff;
    /* width: 150px; */
    border: none;
    cursor: pointer;
    
  }

  
  .botoniniciarsesion:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .botoniniciarsesion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(51, 51, 51, 1) 10.8%,
      rgba(15, 59, 83, 1) 94.3%
    );
    transition: all 0.475s;
  }
  
  /* Adaptabilidad para móviles */
  @media (max-width: 480px) {
    .form_wrapper {
      padding: 20px;
    }
    .form_details {
      font-size: 1.3rem;
    }
    .btn {
      font-size: 1rem;
    }
  }