.contenedorcargos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 25vh;
    gap: 25px;
    flex-wrap: wrap;
}

.docente-btn {
    background-color: #ffffffad;;
    border: none;
    color: #032840;
    padding: 55px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;

    width: 220px; 
    height: 220px; 
}


.docente-btn:hover {
    background-color: #032840;
}

.docente-btn:hover .boton-texto {
    transition: opacity 0.3s ease;
    color: #ffffff;
}



.boton-icon {
    height: 80px;
    width: 80px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animación para el botón de Administrativo */
.administrativo-btn:hover .administrativo-icon {
    animation: moveUpAndRotate 1s ease-in-out infinite; /* Animación de subida y giro */
}

@keyframes moveUpAndRotate {
    0% {
        transform: translateY(0) rotate(0deg); /* Posición inicial */
    }
    50% {
        transform: translateY(-10px) rotate(15deg); /* Sube y gira */
    }
    100% {
        transform: translateY(0) rotate(0deg); /* Vuelve a la posición inicial */
    }
}

/* Animación para el botón de Docente */
.docente-btn:hover .docente-icon {
    animation: moveDownAndScale 1s ease-in-out infinite; /* Animación de bajada y escala */
}

@keyframes moveDownAndScale {
    0% {
        transform: translateY(0) scale(1); /* Posición inicial */
    }
    50% {
        transform: translateY(10px) scale(1.2); /* Baja y aumenta de tamaño */
    }
    100% {
        transform: translateY(0) scale(1); /* Vuelve a la posición inicial */
    }
}